<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <img class="close" style="margin: 5px auto 5px 5px;"src="img/icons8-close-91.png" height="40px" width="40px" alt="">
        <div class="cartitems">
        </div>
        <div class="priceing" style="color: white;">
            <h2 class="totalprice" style="margin: 10px;">Total</h2>
            <button id="checkout">Checkout</button>
        </div>
    </div>
    <nav>
        <ul class="productnav">
            <div class="navi" style="z-index: 100000;"> 
                <a href="/"><li class="navitems">Home</li></a>
                <a href="/login">  <li class="naviitems">Products</li></a>
            </div>
            <div class="logocon"><li id="logo">ReThreadFashion</li></div>
            <li style="margin-right: 25px;z-index: 99; display: flex; justify-content: center; align-items: center; " ><img src="img/icons8-fast-cart-60.png" height="40px" width="40px" id="cartbutton" alt=""></li>
        </ul>
    </nav>
    <main class="aboutmain">
        <h1>-About Us-</h1>
        <p>Welcome to ReThreadFashion, your premier online destination for eco-conscious fashion! We are dedicated to providing you with a curated collection of high-quality clothing made from recycled materials. With a commitment to sustainability and style, we aim to revolutionize the way you shop for fashion.

            At ReThreadFashion, we believe that fashion and sustainability can go hand in hand. We source our materials from recycled fabrics, reducing waste and minimizing our environmental impact. By choosing our recycled clothing, you not only look fabulous but also contribute to a greener future.
            
            Our extensive collection showcases the latest trends and timeless classics, all crafted with a focus on sustainability. From stylish tops and dresses to comfortable loungewear and accessories, we offer something for everyone, no matter your style or preference. Each piece is thoughtfully designed and created with meticulous attention to detail, ensuring that you receive garments that not only look great but also stand the test of time.
            
            
    <script src="script.js" type="module"></script>
</body>
</html>