    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
       <div class="wrapper">
        <h1 style="color:lightcoral;">Your Order is Cancelled! Please Try Again</h1>
        <button style="margin: 10px; height: 50px; width: 250px; color: white; border-radius: 5px; font-size: 18px;   background-color: lightcoral; border: 5px solid rgb(224, 96, 96);" id="cancelbacktoproducts">Back To Products Page</button>
        <img style="margin: 10px;" src="img/Red_prohibited_sign_hand_drawn_cartoon_art_illustration.jpg" height="350px" width="450px">
       </div>
    </body>
<script type="module" src="script.js"></script>
</html>